.detail {
  position: relative;
  width: 100%;
  height: auto;

  .backdropWrapper {
    position: relative;
    width: 100%;
    height: rem-calc(345); // mobile height
    z-index: -1;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: rem-calc(120);
      background: linear-gradient(to top, rgba(0, 0, 0, 7.9), transparent);
      pointer-events: none;
    }

    .backdrop {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(0.55);

    }

    @include md {
      height: rem-calc(1000);
    }
  }

  .contentWrapper {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 rem-calc(16);
    gap: get-spacing('spacing-3xl');
    width: 100%;

    @include md {
      width: rem-calc(1160);
      margin: 0 auto;
      gap: get-spacing('spacing-6xl');
    }

    .movie {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: get-spacing('spacing-2xl');
      width: 100%;

      @include md {
        flex-direction: row;
        justify-content: center;
        height: rem-calc(384);
        gap: get-spacing('spacing-4xl');
      }

      .imageWrapper {
        flex-shrink: 0;
      }

      .PosterCard {
        width: 100%;
        height: rem-calc(500);
        object-fit: cover;
        border-radius: get-radius('radius-xl');

        @include md {
          height: rem-calc(384);
          width: auto;
        }
      }

      .movieDetail {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: get-spacing('spacing-2xl');
        width: 100%;

        @include md {
          width: rem-calc(868);
          height: rem-calc(384);
          gap: get-spacing('spacing-3xl');
        }

        .title {
          display: flex;
          flex-direction: column;
          gap: get-spacing('spacing-sm');
          width: 100%;

          @include md {
            gap: get-spacing('spacing-4xl');
          }

          .dateContainer {
            display: flex;
            align-items: center;
            gap: get-spacing('spacing-sm');

            @include md {
              gap: get-spacing('spacing-md');
              width: rem-calc(868);
            }

            .date {
              color: get-color('neutral', 25);
            }
          }
        }

        .actions {
          display: flex;
          flex-direction: row;
          gap: rem-calc(8);

          @include md {
            flex-direction: row;
            width: rem-calc(288);
            height: rem-calc(52);
            gap: rem-calc(16);
          }
        }

        .rga {
          display: flex;
          flex-direction: row;
          gap: get-spacing('spacing-xl');
          width: 100%;

          @include md {
            flex-direction: row;
            width: rem-calc(868);
            gap: get-spacing('spacing-2xl');
          }

          .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: rem-calc(20);
            background-color: rgba(0, 0, 0, 1);
            border-radius: get-radius('radius-2xl');
            border: 1px solid rgba(37, 43, 55, 1);
            width: 100%;

            @include md {
              width: rem-calc(276);
            }

            .icon {
              margin-bottom: rem-calc(8);
            }

            .rgaContent {
              display: flex;
              flex-direction: column;
              align-items: center;
              text-align: center;
              gap: get-spacing('spacing-xxs');
              width: 100%;

              @include md {
                width: rem-calc(236);
              }

              .label {
                color: get-color('neutral', 300);
                @include typography('text-md', 'regular');
              }

              .name {
                color: get-color('neutral', 25);
                @include typography('text-xl', 'semibold');
              }
            }
          }
        }
      }
    }

    .overview {
      width: 100%;
      gap: get-spacing('spacing-md');
      padding: 0 rem-calc(16);

      @include md {
        max-width: rem-calc(1160);
        padding: 0;
      }

      .overviewTitle {
        color: get-color('neutral', 25);
        @include typography('display-md', 'bold');
      }

      p {
        color: get-color('neutral', 400);
        @include typography('text-md', 'regular');
      }
    }

    .cac {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: get-spacing('spacing-3xl');
      padding: 0 rem-calc(16);

      @include md {
        max-width: rem-calc(1160);
        padding: 0;
      }

      .cacTitle {
        color: get-color('neutral', 25);
        @include typography('display-md', 'bold');
      }

      .castCard {
        display: flex;
        flex-wrap: wrap;
        gap: rem-calc(16);
      }
    }
  }
}
