.trending {
  overflow: visible;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: none;
  margin-top: 245px;
  padding: get-spacing('spacing-5xl') get-spacing('spacing-xl');
  gap: get-spacing('spacing-3xl');
  padding-bottom: rem-calc(32); // atau lebih sesuai Figma

  @include md {
    padding: 0 get-spacing('spacing-11xl') get-spacing('spacing-8xl')
      get-spacing('spacing-11xl');
    gap: get-spacing('spacing-5xl');
    margin-top: 0;
    padding-bottom: rem-calc(64); // lebih lega di desktop
  
  }

  // .header {
  //   position: relative;
  // }

  .navButtons {
    @include md {
      display: flex;
      gap: rem-calc(12);
    }
  }

  .arrowButton {
    position: absolute;
    width: rem-calc(44);
    height: rem-calc(44);
    border-radius: 50%;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    max-width: unset;
    background-color: rgba(10, 13, 18, 0.6);
    transition: background-color 0.3s ease;
    color: get-color('neutral', 25);
    display: flex;
    align-items: center;
    justify-content: center;

    @include md {
      width: rem-calc(56);
      height: rem-calc(56);
    }

    svg {
      width: rem-calc(28);
      height: rem-calc(28);
    }

    &:hover {
      background-color: rgba(10, 13, 18, 0.8);
    }
  }

  .prev {
    left: rem-calc(8);
  }

  .hidden {
    visibility: hidden;
    pointer-events: none;
  }

  .next {
    right: rem-calc(8);
  }

  .list {
    width: 100%;
    overflow: hidden;
    display: flex;
    gap: rem-calc(16);

    @include md {
      padding: 0;
      gap: rem-calc(20);
    }

    :global(.swiper-slide) {
      width: rem-calc(173);
      flex-shrink: 0;

      @include md {
        width: rem-calc(216);
      }
    }
  }
  // .rightGradient {
  //   display: none;

  //   @include md {
  //     position: absolute;
  //     top: 0;
  //     right: 0;
  //     width: rem-calc(64); // atau 80/120 sesuai Figma
  //     height: 100%;
  //     background: linear-gradient(to left, rgba(0, 0, 0, 0.8), transparent);
  //     pointer-events: none;
  //     z-index: 5;
  //     background-color: red;
  //   }
  // }
}
