.scrollButton {
  position: fixed;
  bottom: rem-calc(24);
  right: rem-calc(10);
  width: rem-calc(64);
  height: rem-calc(64);
  border-radius: 9999px;
  background-color: rgba(255, 255, 255, 0.08); // semi transparan
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  border: 2px solid gray;
  transition: background-color 0.3s ease;

  @include md {
    right: rem-calc(170);
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.16);
  }

  img {
    width: rem-calc(24);
    height: rem-calc(24);
  }
}
